@model Genre
@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <h1 class="mx-3">Update</h1>
    <div class="row justify-content-center flex-column align-items-center">
        <form class="col-md-8" asp-action="Update" method="post">

            <div class="form-group col-md-12">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
