@model Slider

<div class="container-fluid">
    <div class="row justify-content-between align-items-center">
        <h1>Create:</h1>
        <a class="btn btn-primary" asp-action="index" asp-controller="slider">Go to home</a>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-md-4">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                <span asp-validation-for="Title"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                <span asp-validation-for="Description"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="ButtonText" class="form-label">Button text</label>
                <input asp-for="ButtonText" type="text" class="form-control" placeholder="ButtonText">
                <span asp-validation-for="ButtonText"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="RedirectUrl" class="form-label">Redirect url</label>
                <input asp-for="RedirectUrl" type="text" class="form-control" placeholder="RedirectUrl">
                <span asp-validation-for="RedirectUrl"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="ImageFile" class="form-label">ImageFile</label>
                <input asp-for="ImageFile" class="form-control" placeholder="ImageFile">
                <span asp-validation-for="ImageFile"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

